body#bg{
	background-image: url(images/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
div#main-div{
	width: 1280px;
	height: 720px;
	border: 5px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-color: black; 
    border-style: solid;
    text-align: center;
    background-color: #555555;
}
input.button{
	width: 100px;
	height: 100px;
	margin: 8px;
	border: 5px;
	border-color: black; 
    border-style: solid;
    background-color: green;
    cursor: pointer;
}
#label-time{
	font: Futura;
	font-size: 20px;
	font-color: black;
	font-style: italic;
	text-align: center;
}
h1#button-h1{
	font: Futura;
	font-size: 40px;
	font-color: black;
	text-align: center;
}
h1.table-state{
	background-color: green;
	font: Futura;
	font-size: 24px;
	font-style: italic;
	font-color: black;
	text-align: center;
	width: 100%;
}
input{
	width: 100px;
	text-align: center;
	border: 2px;
	border-color: black; 
    border-style: solid;
    margin: 2px;
}
#classRed{
  background-color: red;
}

#classGreen{
  background-color: green;
}
div.button-div{
	float: left;
	padding: 29px;
}
h2#span-timeNow{
	background-color: white;
	margin-top: 662px;
	font: Futura;
	font-size: 50px;
	font-style: italic;
	font-color: black;
}